{
    "swagger": "2.0",
    "info": {
        "title": "Tabular Metadata API",
        "description": "Support API for Tabular Metadata plugins",
        "version": "1.0.0"
    },
    "host": "api.ambry.io",
    "schemes": [
        "https",
        "http"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "ApiKeySecurity": {
            "type": "apiKey",
            "in": "header",
            "name": "API_KEY"
        },
        "OauthSecurity": {
            "type": "oauth2",
            "flow": "accessCode",
            "authorizationUrl": "https://oauth.simple.api/authorization",
            "tokenUrl": "https://oauth.simple.api/token"
        }
    },
    "responses": {
        "UnexpectedResponse": {
            "description": "An unexpected response.",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        },
        "Standard500ErrorResponse": {
            "description": "An unexpected error occured.",
            "schema": {
                "$ref": "#/definitions/Error"
            }
        },
        "EditInstructionResponse": {
            "description": "Edit Instructions for changing the local spreadsheets",
            "schema": {
                "$ref": "#/definitions/EditInstructions"
            }
        }
    },
    "paths": {
        "/token": {
            "get": {
                "tags": [
                    "auth"
                ],
                "security": [
                    {
                        "ApiKeySecurity": []
                    },
                    {
                        "OauthSecurity": []
                    }
                ],
                "summary": "Get an authentication token",
                "description": "Get an authentication token",
                "operationId": "get_token",
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "default": {
                        "description": "Operation failed."
                    }
                }
            }
        },
        "/edit": {
            "post": {
                "summary": "Edit internal representation and return local edit instructions.",
                "description": ".\n",
                "operationId": "edit_cells",
                "security": [
                    {
                        "ApiKeySecurity": []
                    },
                    {
                        "OauthSecurity": []
                    }
                ],
                "parameters": [
                    {
                        "name": "cells",
                        "in": "body",
                        "description": "Array of cell references",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Cells"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/EditInstructionResponse"
                    },
                    "500": {
                        "$ref": "#/responses/Standard500ErrorResponse"
                    },
                    "default": {
                        "$ref": "#/responses/UnexpectedResponse"
                    }
                }
            }
        },
        "/list/{list_name}": {
            "get": {
                "summary": "Get a list of terms or term values",
                "security": [
                    {
                        "ApiKeySecurity": []
                    },
                    {
                        "OauthSecurity": []
                    }
                ],
                "operationId": "get_list",
                "parameters": [
                    {
                        "name": "list_name",
                        "in": "path",
                        "description": "Name of the list to fetch",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "a list of values",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "EditInstruction": {
            "type": "object",
            "properties": {
                "row": {
                    "type": "integer"
                },
                "column": {
                    "type": "integer"
                }
            }
        },
        "EditInstructions": {
            "type": "object",
            "properties": {
                "sheet_name": {
                    "type": "string"
                },
                "cells": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/EditInstruction"
                    }
                }
            }
        },
        "Cell": {
            "type": "object",
            "properties": {
                "row": {
                    "type": "integer"
                },
                "column": {
                    "type": "integer"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "Cells": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/Cell"
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "foo": {
                    "type": "string",
                    "description": "."
                }
            }
        }
    }
}